@charset "utf-8";

p{
    color: cornflowerblue;
    text-align: center;
}
h1{
    text-align: center;
}
body{
    background-image: url(img/kuukan36.png);
}
img.kokugo{
   width:500px;
   height: 500px;
}

.sugaku{
    width: 500px;
    height: 500px;
    margin: auto;
}
.it{
    text-align: center;
}
img.eigo{
    width:500px;
    height: 500px;
}
.ko{
    text-align: center;
}
.ei{
    text-align: center;
}


#contents{
    width: 80%;
    margin: auto;
    padding: 10px;
}

header{
    height: 100px;
}

main{
    width: 30%;
}

aside{
    padding: 20px;
}

.container{
    display: flex;
    padding: 20px;
    background: rgba(0, 83, 139, 0.075);
}

footer{
    height: 50px;
    width: 100%;
    text-align: center;
}

.kou{
    width: 200px;
    height: 200px;
}

.k{
    font-size: 30px;
    margin: 0 auto;
}