@charset "utf-8";

p{
    color: cornflowerblue;
    text-align: center;
}
h1{
    text-align: center;
}
body{
    background-image: url(img/kuukan36.png);
}
.kokugo{
    size:40px;
    text-align: center;
}
.sugaku{
    size:40px;
    text-align: center;
}
.eigo{
    size:40px;
    text-align: center;
}
