@charset "utf-8";

p{
    color: cornflowerblue;
    text-align: center;
}
h1{
    text-align: center;
}
body{
    background-image: url(img/kuukan36.png);
}
img.kokugo{
   width:500px;
   height: 500px;
}

img.sugaku{
    width: 500px;
    height: 500px;
}
.it{
    text-align: center;
}
img.eigo{
    width:500px;
    height: 500px;
}
.ko{
    text-align: center;
}
.ei{
    text-align: center;
}